<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Angular + Redux</h1>
</div>
<mat-card style="margin-bottom: 10px">
  <mat-card-title> Add Post </mat-card-title>
  <mat-card-content>
    <form class="example-form" #postForm="ngForm" (ngSubmit)="createPost()">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Title" [(ngModel)]="post.title" name="title">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Description" [(ngModel)]="post.description" name="description"></textarea>
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">Add</button>
    </form>
  </mat-card-content>
  <button mat-raised-button (click)="removeAll()">Delete all</button>
</mat-card>

<div *ngIf="(posts | async)?.length!=0">
  <mat-card *ngFor="let p of posts | async">
    <mat-card-title>
      {{  p.title }}
      <button mat-mini-fab type="button" (click)="removePost(p)">
        <mat-icon aria-label="Example icon-button with a delete icon">delete</mat-icon>
      </button>
    </mat-card-title>
    <mat-card-content>
      <p>{{ p.description }}</p>
    </mat-card-content>
  </mat-card>
</div>



